# CSV

In [2]:
import pandas as pd
dic={'a':[1,2,3,4,5,6], 's': [1,2,3,4,5,6], 'd': [1,2,3,4,5,6]}
d=pd.DataFrame(dic)
d

   a  s  d
0  1  1  1
1  2  2  2
2  3  3  3
3  4  4  4
4  5  5  5
5  6  6  6

In [3]:
d.to_csv('Test_new.csv')

In [4]:
d.to_csv('Test_new1.csv', index=False)

In [8]:
d.to_csv('Test_new2.csv', index=False,header=[1,2,3])