# Series

In [3]:
import pandas as pd
a=pd.Series
print(a)

<class 'pandas.core.series.Series'>

In [4]:
x=[3,4,5,6,7,8]

var= pd.Series(x)

print(x)

[3, 4, 5, 6, 7, 8]

In [5]:
print(var)

0    3
1    4
2    5
3    6
4    7
5    8
dtype: int64

In [6]:
print(type(var))

<class 'pandas.core.series.Series'>

In [7]:
print(var[2])

5

In [8]:
x=[3,4,5,6,7,8]

var= pd.Series(x, index=['a', 'b', 'c', 'd', 'e', 'f'])

print(var)

a    3
b    4
c    5
d    6
e    7
f    8
dtype: int64

In [11]:
x=[3,4,5,6,7,8]

var= pd.Series(x, index=['a', 'b', 'c', 'd', 'e', 'f'], dtype='float')

print(var)

a    3.0
b    4.0
c    5.0
d    6.0
e    7.0
f    8.0
dtype: float64

In [12]:
x=[3,4,5,6,7,8]

var= pd.Series(x, index=['a', 'b', 'c', 'd', 'e', 'f'], dtype='float', name='python')

print(var)

a    3.0
b    4.0
c    5.0
d    6.0
e    7.0
f    8.0
Name: python, dtype: float64

In [ ]:
# we can use list, tuple, dict etc in it

In [16]:
dic= {'name':['python', 'c', 'c++', 'java'],'por':[12,13,14,15] , 'rank':[1,4,3,2]}

var1=pd.Series(dic)
var1

name    [python, c, c++, java]
por           [12, 13, 14, 15]
rank              [1, 4, 3, 2]
dtype: object

In [17]:
dic= {'name':['python', 'c', 'c++', 'java'],'por':[12,13,14,15] , 'rank':[1,4,3,2]}

var1=pd.Series(dic)
print(var1)

name    [python, c, c++, java]
por           [12, 13, 14, 15]
rank              [1, 4, 3, 2]
dtype: object

In [20]:
s=pd.Series(12)
print(s)
print(type(s))

0    12
dtype: int64
<class 'pandas.core.series.Series'>

In [21]:
s=pd.Series(12, index=[1,2,3,4,5,6,7])
print(s)

1    12
2    12
3    12
4    12
5    12
6    12
7    12
dtype: int64

In [22]:
s1=pd.Series(12, index=[1,2,3,4,5,6,7])
s2=pd.Series(12, index=[1,2,3,4])
print(s1+s2)        # here NaN , but in case of numpy error. means can work with missing data

1    24.0
2    24.0
3    24.0
4    24.0
5     NaN
6     NaN
7     NaN
dtype: float64